@import "page-transition.css";

html {
  background-color: $dt("color.white");
  overflow-y: scroll;
}

html.dark {
  background-color: $dt("color.gray.900");
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: $dt('color.gray.300');
}

::-webkit-scrollbar-thumb:hover {
  background-color: $dt('color.primary.600');
}

html.dark {
  ::-webkit-scrollbar-thumb {
    background-color: $dt('color.gray.500');
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: $dt('color.primary.600');
  }
}

/* Color scheme images helper classes */
.light-img {
  display: block;
}
.dark-img {
  display: none;
}

@dark {
  .dark-img {
    display: block;
  }
  .light-img {
    display: none;
  }
}

a {
  transition: all;
  transition-duration: 250ms;
}
